version: '3.8'

services:
  backend:
    build: .
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb+srv://cursorcursor520_db_user:6Zn9uZdGCWj21zLB@ticketing.q53wlae.mongodb.net/
      - JWT_SECRET=JWT-KEY
